
/*******************************************************************************
 *  Layout styles
 */

/* Fluid width wrapper */ 
#wrapper {
    width: 90%;
    margin: auto;
}

/* Top navigation content */
#top-nav {
    height: 40px;
}

#top-nav ul {
    float: right;
}

#top-nav li {
    line-height: 40px;
}

#top-nav a {
    padding: 10px;
}

#top-nav #logo {
    display: block;
    float: left;
    width: 150px;
    height: 40px;
    padding: 0;
}

/* App navigation */
#app-nav {
    padding-top: 25px;
}

#app-nav li {
    line-height: 38px;
}

#app-nav a{
    padding: 10px 20px;
    margin-left: 20px;
}

/* Progress indicator */
.prog {
    padding: 20px 20px 5px 20px;
}

.prog li {
    padding: 10px 20px 10px 15px;
    line-height: 50px;
}

.prog span {
    padding-right: 30px;
}

/* Main app content */
.app {
    border-width: 15px 2px 2px 2px;
    padding: 20px;
}

/* footer */
footer{
    padding: 10px 0;
}

footer li {
    margin-right: 10px;
}

/*******************************************************************************
 * Fonts colours and images
 */

body {
    background: #ffffff url('../images/topbar1.png') repeat-x top left;
}

#top-nav {
    font-size: 16px;
}

#top-nav li {
    text-shadow: 0 0 2px #393939;
}

#top-nav a {
    color: #5EBEFF;
}

#top-nav a:hover {
    color: #CFCFCF;
    background-color: #393939;
}

#top-nav span {
    color: #d9d9d9;
}

#app-nav a {
    background-color: #5c5c5c;
    color: #ddd;
    font-size: 22px;
    text-shadow: 0 0 2px #393939;
}

#app-nav a:hover {
    color: #5EBEFF;
    background-color: #393939;
}

#app-nav #selected {
    background-color: #5EBEFF;
    color: #393939;
    text-shadow: none;
}

.prog {
    background-color: #5EBEFF;
}

.prog li {
    font-size: 22px;
    color: #696969;
    background: transparent url('../images/arrow-grey.png') no-repeat center left;
}

.prog span {
    color: #999999;
}

.prog #current {
    color: #f9f9f9;
    background: transparent url('../images/arrow.png') no-repeat center left;
}

.prog #current span {
    color: #f9f9f9;
}

.app {
    border-color: #5EBEFF;
    border-style: solid;
    background-color: #F9F9F9;
}

footer {
    font-size: 12px;
}

/*******************************************************************************
 * Helper Styles
 */
 
/* Horizontal list */
.hlist {
    list-style-type: none;
    margin: 0;
}

.hlist li {
    display: inline;
}

.hlist a {
    text-decoration: none;
}

/*******************************************************************************
 * Debug section
 */
#debug {
    border: 2px solid #999;
    border-top-width: 15px;
    padding: 20px 20px 0 20px;
    display: none;
}

#debug fieldset {
    margin-bottom: 20px;
}

#debug legend {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#debug pre {
    display: none;
}
