/* CSS Styles */

/* Error View */
#error {
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
}

#error h1 {
    font-size: 24px;
}

#error p {
    font-size: 16px;
}

/* Debug view */
#debug p,
#debug fieldset{
    margin: 10px;
}

#debug fieldset{
    border: 1px solid #888;
    padding: 5px;
}

#debug legend{
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}

#debug fieldset * {
    display: none;
}

#debug legend {
    display: block;
}

